<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>	
	</bean>           
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>	
	</bean>
	
	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 那些类的哪些方法参与事务 -->
	<aop:config>
		<aop:pointcut id="allManagerMethod" expression="execution(* com.dao.*.*(..))"/>
		<aop:advisor pointcut-ref="allManagerMethod" advice-ref="txAdvice"/>
	</aop:config>
	
	
	<!--           daos          -->
	<bean id="userDao" class="com.dao.impl.UserDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="xinwenDao" class="com.dao.impl.XinwenDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="keshiDao" class="com.dao.impl.KeshiDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="doctorDao" class="com.dao.impl.DoctorDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="gonggaoDao" class="com.dao.impl.GonggaoDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="yuyueDao" class="com.dao.impl.YuyueDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="recordDao" class="com.dao.impl.RecordDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="liuyanDao" class="com.dao.impl.LiuyanDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="picDao" class="com.dao.impl.PicDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	
	<bean id="jianchaDao" class="com.dao.impl.JianchaDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	
	<bean id="yuyue2Dao" class="com.dao.impl.Yuyue2DaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="record2Dao" class="com.dao.impl.Record2DaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	
	<!--           actions          -->
	<bean id="manageAction" class="com.action.ManageAction" scope="prototype">

		<property name="userDao"><ref bean="userDao" /></property>
		
		<property name="xinwenDao"><ref bean="xinwenDao" /></property>
		
		<property name="keshiDao"><ref bean="keshiDao" /></property>
		
		<property name="doctorDao"><ref bean="doctorDao" /></property>
		
		<property name="gonggaoDao"><ref bean="gonggaoDao" /></property>
		
		<property name="recordDao"><ref bean="recordDao" /></property>
		
		<property name="liuyanDao"><ref bean="liuyanDao" /></property>
		
		<property name="picDao"><ref bean="picDao" /></property>
		
		<property name="jianchaDao"><ref bean="jianchaDao" /></property>
		
		<property name="record2Dao"><ref bean="record2Dao" /></property>
		
		<property name="yuyueDao"><ref bean="yuyueDao" /></property>
		
		
	</bean>
	
	
	<bean id="indexAction" class="com.action.IndexAction" scope="prototype">

		<property name="xinwenDao"><ref bean="xinwenDao" /></property>
		
		<property name="gonggaoDao"><ref bean="gonggaoDao" /></property>
		
		<property name="keshiDao"><ref bean="keshiDao" /></property>
		
		<property name="doctorDao"><ref bean="doctorDao" /></property>
		
		<property name="userDao"><ref bean="userDao" /></property>
		
		<property name="yuyueDao"><ref bean="yuyueDao" /></property>
		
		<property name="recordDao"><ref bean="recordDao" /></property>
		
		<property name="liuyanDao"><ref bean="liuyanDao" /></property>
		
		<property name="picDao"><ref bean="picDao" /></property>
		
		<property name="jianchaDao"><ref bean="jianchaDao" /></property>
		
		<property name="yuyue2Dao"><ref bean="yuyue2Dao" /></property>
		
		<property name="record2Dao"><ref bean="record2Dao" /></property>
		
	</bean>
	
</beans>
